<div class="row">
  <div
    [ngClass]="{ 'col-md-8 pr-0': exibirLote(), 'col-md-12': !exibirLote() }"
  >
    <div class="card rounded shadow-sm">
      <!-- <p>Form value: {{form.value | json}}</p>
        <p>Form valid: {{form.status | json}}</p>
        <p>Form value: {{form.controls['lotes'].value | json}}</p>
        <p>Form valid: {{form.controls['lotes'].status | json}}</p> -->

      <form [formGroup]="form">
        <div class="p-3">
          <div class="form-row d-md-flex">
            <div class="form-group col-md-8 pe-md-3">
              <label>Tema</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.tema.errors && f.tema.touched }"
                formControlName="tema"
                placeholder="Insira o Tema"
              />
              <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
                Tema é obrigatório!
              </div>
              <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
                Tema deve conter no mínimo 4 carateres!
              </div>
              <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
                Tema deve conter no máximo 50 carateres!
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input
                class="form-control"
                formControlName="dataEvento"
                [ngClass]="{
                  'is-invalid':
                    f['dataEvento'].errors && f['dataEvento'].touched
                }"
                type="datetime-local"
                value="{{ f.dataEvento.value }}"
              />
              <div
                *ngIf="f.dataEvento.errors?.required"
                class="invalide-feedback"
              >
                Data e Hora são obrigatórias!
              </div>
            </div>
          </div>
          <div class="form-row d-md-flex">
            <div class="form-group col-md-9 pe-md-3">
              <label>Local</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.local.errors && f.local.touched }"
                formControlName="local"
                placeholder="Insira um local"
              />
              <div *ngIf="f.local.errors?.required" class="invalid-feedback">
                Local é obrigatório!
              </div>
            </div>
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input
                type="number"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched
                }"
                formControlName="qtdPessoas"
              />
              <div
                *ngIf="f.qtdPessoas.errors?.required"
                class="invalid-feedback"
              >
                Quantidade de pessoas é obrigatório!
              </div>
              <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
                Quantidade máxima de pessoas é 500!
              </div>
            </div>
          </div>
          <div class="form-row d-md-flex">
            <div class="form-group col-md-5 pe-md-3">
              <label>e-mail</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
                formControlName="email"
                placeholder="e-mail"
              />
              <div *ngIf="f.email.errors?.required" class="invalid-feedback">
                e-mail é obrigatório!
              </div>
              <div *ngIf="f.email.errors?.email" class="invalid-feedback">
                e-mail inválido!
              </div>
            </div>

            <div class="form-group col-md-3 pe-md-3">
              <label>Telefone</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f.telefone.errors && f.telefone.touched
                }"
                formControlName="telefone"
                placeholder="(99) 90000-0000"
              />
              <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
                Telefone é obrigatório!
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>imagemURL</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f.imagemURL.errors && f.imagemURL.touched
                }"
                formControlName="imagemURL"
                placeholder="imagemURL"
              />
              <div
                *ngIf="f.imagemURL.errors?.required"
                class="invalid-feedback"
              >
                Campo imagem é obrigatório!
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <button
              class="btn btn-outline-secondary mr-auto border"
              (click)="this.limparCampos()"
            >
              Cancelar Alteração
            </button>
            <button
              class="btn btn-success"
              [disabled]="!form.valid"
              (click)="this.salvarEvento()"
            >
              <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
              Salvar Evento
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Lotes -->

    <div class="card rounded shadow-sm mt-3" *ngIf="exibirLote()">
      <div class="p-3">
        <div class="d-flex justify-content-between border-bottom">
          <h2 class="mr-auto">Lotes do Evento</h2>
          <h2>
            <i class="fas fa-money-bill-wave"></i>
          </h2>
        </div>
        <p>Clique em Lote para adicionar e preencher novos Lotes</p>
        <div class="form-row">
          <div [formGroup]="form" class="col">
            <div
              formArrayName="lotes"
              *ngFor="let lote of lotes.controls; let i = index"
            >
              <br />
              <fieldset [formGroupName]="i" class="form-group">
                <legend class="d-flex justify-content-between capitalize">
                  {{ retornaNomeLote(lotes.get(i + ".nome").value) }}
                  <button
                    class="p-2 btn btn-sm btn-outline-danger mb-3 d-flex"
                    (click)="removerLote(template, i)"
                    tooltip="Excluir Lote {{ lotes.get(i + '.nome').value }}"
                    [adaptivePosition]="false"
                    [delay]="500"
                    placement="left"
                  >
                    <i class="fa fa-window-close mt-1">&nbsp;</i>
                    <b class="d-none d-sm-block">Excluir</b>
                  </button>
                </legend>
                <div class="row">
                  <div class="form-group col-md-9">
                    <label>Nome</label>
                    <input
                      type="text"
                      class="form-control"
                      [ngClass]="cssValidator(lotes.get(i + '.nome'))"
                      formControlName="nome"
                      placeholder="Lote"
                    />
                  </div>
                  <div class="form-group col-md-3">
                    <label>Preço</label>
                    <input
                      type="text"
                      currencyMask
                      [options]="{
                        prefix: 'R$ ',
                        thousands: '.',
                        decimal: ',',
                        align: 'left'
                      }"
                      class="form-control"
                      [ngClass]="cssValidator(lotes.get(i + '.preco'))"
                      formControlName="preco"
                      placeholder="R$ 0,00"
                    />
                  </div>
                  <div class="form-group col-md-2">
                    <label>Qtde</label>
                    <input
                      type="number"
                      class="form-control"
                      [ngClass]="cssValidator(lotes.get(i + '.quantidade'))"
                      formControlName="quantidade"
                      placeholder="000"
                    />
                  </div>
                  <div class="form-group col-md-5">
                    <label>Data Início</label>
                    <input
                      type="datetime"
                      class="form-control"
                      [ngClass]="cssValidator(lotes.get(i + '.dataInicio'))"
                      value="{{ f.dataInicio | DatePipes }}"
                      bsDatepicker
                      [bsConfig]="bsConfig"
                      formControlName="dataInicio"
                      placeholder="01/01/2019"
                    />
                  </div>
                  <div class="form-group col-md-5">
                    <label>Data Fim</label>
                    <input
                      type="datetime"
                      class="form-control"
                      [ngClass]="cssValidator(lotes.get(i + '.dataFim'))"
                      value="{{ f.dataFim | DatePipes }}"
                      bsDatepicker
                      [bsConfig]="bsConfig"
                      formControlName="dataFim"
                      placeholder="01/01/2019"
                    />
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <button
          class="d-flex btn btn-outline-primary mt-3"
          (click)="adicionarLote()"
        >
          <i class="fa fa-plus-circle mt-1">&nbsp;</i>
          <b>Lote</b>
        </button>
      </div>
      <div class="card-footer">
        <div class="d-flex">
          <button class="btn btn-outline-secondary mr-auto border">
            Cancelar Alteração
          </button>
          <button
            class="btn btn-success"
            [disabled]="!form.controls['lotes'].valid"
            (click)="salvarLote()"
          >
            Salvar Lotes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Card -->

  <div class="col-md-4 ps-1" *ngIf="exibirLote()">
    <div [formGroup]="form" class="card-evento-view shadow-sm">
      <div class="form-row">
        <div class="form-group m-0">
          <input
            type="file"
            #file
            (change)="onFileChange($event)"
            class="form-control is-invalid"
            placeholder=""
            style="display: none;"
          />
        </div>
      </div>
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img
            class="image"
            class="img-fluid"
            [src]="imagemURL"
            (click)="file.click()"
            alt="Card image cap"
            tooltip="Upload de Nova Imagem"
            [adaptivePosition]="false"
            placement="bottom"
            style="cursor: pointer; width: 100%;"
          />
        </div>
        <div class="card-body pt-3">
          <h4>{{ evento.tema }}</h4>
          <p class="card-text">
            <b>Local:</b> {{ evento.local }}
            <br />
            <b>Data:</b> {{ evento.dataEvento | DatePipes }}
          </p>
          <hr />
          <p class="card-text">
            <b>Contatos</b><br />
            <small class="text-muted">Telefone: {{ evento.telefone }}</small>
            <br />
            <small class="text-muted">e-mail: {{ evento.email }}</small>
          </p>
          <p class="card-text">
            Capacidade:
            <small class="text-muted">{{ evento.qtdPessoas }}</small>
          </p>
          <div class="row">
            <div class="icon-block col-md-8 iconesSociais">
              <a href="">
                <i class=""></i>
              </a>
            </div>
            <!--div class="col-md-4 d-flex justify-content-center">
              <a href="#" class="btn btn-outline-primary">Participar</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<ng-template #template>
  <div class="modal-body text-center">
    <p>Têm certeza que deseja deletar o lote {{ this.loteAtual.nome }} ?</p>
    <button type="button" class="btn btn-default" (click)="confirmeDelete()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="cancelar()">
      Não
    </button>
  </div>
</ng-template>
