<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pe-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro: </div>
        </div>
        <input type="text" class="form-control" placeholder="buscar por tema ou local" [(ngModel)]="filtroLista">
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhes">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="d-none d-md-block" style="margin-top:-1px; margin-left: 3px;">Novo</b>
      </a>
    </div>
  </div>
  <table class="table table-light table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th class="d-none d-md-table-cell"><button class="btn btn-outline-light btn-sm" (click)="mostrar = !mostrar">
          <i class="{{mostrar ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
          {{mostrar ? 'Ocultar' : 'Exibir'}}</button></th>
        <th>#</th>
        <th class="d-none d-md-table-cell">Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Pessoas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados" (click)="exibirEvento(evento.eventoId)" style="cursor: pointer;">
        <td class="d-none d-md-table-cell"><img [collapse]="!mostrar" [isAnimated]="true" src="./assets/imagens/novo.jpg" alt="{{evento.imagemURL}}" style="width: 100px;"></td>
        <td>{{evento.eventoId}}</td>
        <td class="d-none d-md-table-cell">{{evento.tema}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.dataEvento | DatePipes}}</td>
        <td class="d-none d-md-table-cell">{{evento.qtdPessoas}}</td>
        <td class="d-none d-md-table-cell">{{evento.lotes[0].nome}}</td>
        <td>
          <button class="btn btn-danger btn-lg" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="!eventos">
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

{{eventos | json}}

<ng-template #template>
  <div class="modal-body text-center">
    <p>Têm certeza que deseja deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirmar()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="cancelar()" >Não</button>
  </div>
</ng-template>
